<?xml version="1.0" encoding="utf-8" ?>
<!-- cwLogCollector est une interface permettant de logger les différents évènements de l'application.
    Il utilise la librairie log4net pour fonctionner. Cette librairie est configurable, en suivant les instructions sur : http://logging.apache.org/log4net/release/manual/configuration.html
    Cette librairie ne propose pas de générer des logs au format CSV. Néanmoins, il est possible d'obtenir un format CSV en utilisant un layout de type "CsvLogging.CsvPatternLayout".
    
    Il est recommandé de ne pas renseigner de chemin relatif pour le fichier généré.
  -->
<log4net>
  <root>
    <level value="DEBUG"/>
    <appender-ref ref="LogFileAppender" />
  </root>
  <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="./Logs/cmis_engine.log"/>
    <staticLogFileName value="true"/>
    <rollingStyle value="Size"/>
    <appendToFile value="true"/>
    <maxSizeRollBackups value="10"/>
    <maximumFileSize value="10MB"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-5level %d{yyyy-MM-dd hh:mm:ss} [%logger] - %message%newline" />
    </layout>
  </appender>
</log4net>
